<h1> Fancy Cocktails </h1>

<div class = "row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-4 mb-5">
      <div class="card-trip">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src=<%="https://source.unsplash.com/800x600/?cocktail/#{rand(50)}"%>>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
